body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h2 {
    color: #333;
}

.recipeForm {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.recipeForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.recipeForm input[type="text"],
.recipeForm textarea,
.recipeForm input[type="file"],
.recipeForm input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.recipeForm input[type="text"],
.recipeForm textarea,
.recipeForm input[type="file"] {
    margin-bottom: 10px;
}

.recipeForm input[type="submit"] {
    background-color: #6c63ff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.recipeForm input[type="submit"]:hover {
    background-color: #524edf;
}

.alert {
    background-color: #ff6464;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.footer a {
    color: #6c63ff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
