body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
}

.logo img {
    width: 60px;
    height: 60px;
    margin: 10px 0 0 15px;
}
  
.company-name {
    color: #38352F;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 20px 0 -910px;
}
  
.nav-items {
    display: flex;
    list-style: none;
    margin: 10px 10px 0 0;
    padding: 0;
}
  
.nav-items li {
    margin-left: 20px;
    padding: 5px 10px;
}
  
.nav-items li:first-child {
    margin-left: 0;
}
  
.nav-items a {
    color: #38352F;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav-items li:hover{
    transform: scale(1.1);
    text-shadow: none;
    transition: all 0.1s ease;
    /* background-color: #38352F; */
    background-color: #CAC9C2;
    border-radius: 20px;
}

h1{
    text-align: center;
    margin: 10px 0 50px 0;
    color: #38352F;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 30px 130px;
}

.card {
    background-color: #d5a647;
    padding: 30px;
    border-radius: 5px;
    width: 340px;
    height: 470px;
}

.card img {
    width: 343px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card h3 {
    color: #38352F;
    margin-top: 5px;
}

.card p {
    color: #675649;
    margin-bottom: 10px;
}

.card button {
    background-color: #38352F;
    color: #C8C6C2;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.card button:hover {
    background-color: #C8C6C2;
    color: #38352F;
    border: solid 1px #38352F;
}

.footer{
    margin: 30px 0 30px 0;
    text-align: center;
    color: #38352F;
    font-size: 1rem;
} 