body{
    background-color: black;
}

.btn{

padding-left: 50px;
padding-right: 50px;
}
.register{
  background-color: #ca5819;
}
.login:hover{
  background-color: #b2b2b2;
  border: 1px solid black;
}
.image-container {

position: relative;
margin-top: 3%;
margin-left: 7%;
}

.background-image,.overlay-image,.logo-header{
width: 75vh;
position: absolute;
left: 30%;
}
.logo-header{
  font-family: 'Dancing Script';
  color: white;
  z-index:3;
  position: absolute;
  top: 75%;
  left:40%
}
.background-image {
z-index: 1;

}
.center-button {
  position:absolute;
  left:35%;
  top:65%;
  width: 30%;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  }
.overlay-image {
position: relative;
padding-top: 20px;
z-index: 2;
}