.custom-bg{
    background-color: #ffffff;
}
.my-image {
    width: 242px;
    height: 242px;
}
.custom-bg{
    background-image: url("/image/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.bg{
    background-color: #ffffff;
}
h2{
    text-align: center;
    margin: 50px 0 80px 0;
    font-weight: bold;
    font-size: 2.5rem;
    color: #38352fd6;
}
h3{
    text-align: center;
    margin: 50px 0 90px 0;
    font-weight: bold;
    font-size: 2.5rem;
    color: #38352fd6;
}
h4{
    text-align: center;
    margin: 50px 0 50px 0;
    font-weight: bold;
    font-size: 2.5rem;
    color: #38352fd6;
}
#back{
    /* background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    height: 100%;
    justify-content: center;
}
.form{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c8c6c2b7;
    padding: 25px 50px;
    border-radius: 20px;
    justify-content: center;
}

h1{
    font-size: 2rem;
    color: #38352fdd;
    font-weight: bold;
    text-align: center;
    padding: 0 0 20px 0;
}
/* img{
    width:100%;
    height:100%;
} */
.img2{
    width:200px;
    height: 150px;
}
.form-label{
    color: #38352F;
    font-weight: 500;
}
.form-control{
    border-color:#38352F;
}
.form-control::placeholder{
    color: #38352f75;
    font-weight: 350;
}
.signUP{
    color:#38352F;
    font-weight: 450;
}
a{
    color:#38352fcb;
    font-size: 1rem;
}
.btn{
    width:130px;
    height:auto;
    background-color: #38352F;
    color:#ffffff;
    margin: 0 0 -20px;
}
.btn:hover{
    transform: scale(1.1);
    text-shadow: none;
    transition: all 0.1s ease;
    background-color: #38352f8b;
}
h4{
    color:#38352F;
}
p{
    color:#38352F;
}
.otp{
    width: 300px;
    margin: 0 auto;
}
#field{
    width:300px;
}

@media (max-width: 982px) and  (min-width:770px) {
    /* styles for tablet screens */
    #field{
        width: 250px;
        display: flex;
        justify-content: center;
        margin: 2px;
    }
  }

   