body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
  }
  
  .logo img {
    width: 60px;
    height: 60px;
    margin: 10px 0 0 15px;
  }
  
  .company-name {
    color: #141414;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 20px 0 -910px;
  }
  
  .nav-items {
    display: flex;
    list-style: none;
    margin: 10px 10px 0 0;
    padding: 0;
  }
  
  .nav-items li {
    margin-left: 20px;
    padding: 5px 10px;
  }
  
  .nav-items li:first-child {
    margin-left: 0;
  }
  
  .nav-items a {
    color: #202020;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-items li:hover {
    transform: scale(1.1);
    text-shadow: none;
    transition: all 0.1s ease;
    background-color: #CAC9C2;
    border-radius: 20px;
  }
  
  .section {
    display: flex;
    margin: 20px 100px;
    height: 530px;
  }
  
  .column1 {
    background-color: #e6af47;
    flex-basis: 33%;
  }
  
  .column1 img {
    width: 450px;
    height: 400px;
    margin-bottom: 20px;
  }
  
  .column1 button {
    margin-top: 10px;
    width: 250px;
    height: 30px;
    margin: 5px 95px;
    background-color: #e6af47;
    border: solid 1px #e8e7df;
    color: #e8e7df;
    cursor: pointer;
  }
  
  .column1 button:hover {
    background-color: #CAC9C2;
    color: #c6b45b;
  }
  
  .column2 {
    background-color: #e6af47;
    flex-basis: 67%;
    padding: 30px 50px;
    overflow-y: scroll;
}
  
  .column2 h2 {
    margin-top: 0;
    color: #2e2512;
  }
  
  .column2 p {
    margin-bottom: 10px;
    color: #38352F;
    font-size: 1.2rem;
  }
  
  h2 {
    margin: 40px 0;
  }
  
  h3 {
    margin-bottom: 10px;
    color: #38352F;
    font-size: 1.1rem;
  }
  
  .column2 ul {
    margin-top: 0;
    padding-left: 20px;
    color: #e89455;
  }
  
  .column2 ol {
    margin-top: 0;
    padding-left: 20px;
    color: #e89455;
  }
  
  #description {
    color: #e89455;
    font-size: 1rem;
  }
  
  .footer {
    margin: 20px 0;
    text-align: center;
    color: #463614;
    font-size: 1rem;
  }
  